<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호찾기</title>
</head>
<body>
    <h1>비밀번호찾기</h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"> </div>


    <form method="post">
        <div>
            <input type="text" name="userId" placeholder="아이디 입력 " required />
            <input type="text"  name="userName" placeholder="이름 입력 " required />
        </div>

        <div>
            <button>비밀번호 초기화 요청 </button>
        </div>
    </form>
</body>
</html>